# Assignment

### Question(1) = Discuss string slicing and provides a exapmles.?

#### Ans = a string is data type used in programming that is used to represent text rather than number and string sequence of 
#### characters.. Stirng is a sequence of character represent and manipulate textual data..
#### characters are represented using numerical values...and each character is assigned a unique.
#### string slicing in python allow you extract a portion of string by specefic a start and end index... and u can access any      index of elements using string slicing..
     string slicing - syntax is start = start:end:step..
                 all code access to left to right..
                 if i use [::-1]
                 ab = hello world // just reverse this index
                 iterate over the sequence in reverse order 
                 it means start from the end move to beginning an step backwords by one character...

In [1]:
#example for string slicing

In [18]:
course = "i am studying data analyst from pwskills"

In [20]:
print(course)
print(type(course))

i am studying data analyst from pwskills
<class 'str'>

In [9]:
course[0] 
## if u can access single starting index use by [0]....

'i'

In [21]:
course[0:4]
##if u can access [0:4] its means access a index 0 by 4...

'i am'

In [31]:
course[0::2]
## if u can aceess one step out of second index...counting 1 espace by 2 =nd index...

'ia tdigdt nls rmpsil'

In [36]:
course[::-1]
## if u can reverse the value of index use by [::-1] this is reverse a sentence using by step ...

'sllikswp morf tsylana atad gniyduts ma i'

#### if u can access a negative index are getting a result a counting a right to left -1 ,-2 ,-3 ,-4 ,-5 , -6 infinty...
    and this is also follow same rules.....

In [38]:
course[-1]
## if u can access by last index using by [-1] in start....

's'

In [43]:
course[0:-2]
## if u can use [-2] in end they can access a sentence left to right....

'i am studying data analyst from pwskil'

In [53]:
course[0:10]
## if u can access the specific character of sentence use by start:end .. they can help out access specific character of sentence choosing by you...

'i am study'

In [65]:
course[0:9:2]
## if u can useing start/end/step== using this they can access a value of character starting(0) to end(9) and step(2)....

'ia td'

In [70]:
course[2:8:3]
## if u can access a value first value and skip a second value access a third value use by step[3]

'as'

In [73]:
course[-1:-20:-2]
## if u can use - they can access left to right using skiping of every 2nd last value...

'slkw oftya'

In [75]:
course[3:10:-2] 
## if u can use it will be not print anything because negative step is used to only reverse....

''

In [ ]:
course[

## FUNCTION OF STRING

#### (1) .replace() ## used to replace any element from the other element in the string.
    (2) .upper() ## used to convert to all alphabet in uppercase..
    (3) .lower() ## used to convert to all alphabet in lowercase..
    (4) .capatilize() ## used to convert to first text captial in any statement...
    (5) .title() ## used to convert first text capital in each character of the statement...
    (6) .swapcase() ## used to convert lowercase in uppercase and uppercase in lowercase...
    (7) .startswith() ## used to check that a character is start with that particular text..
    (8) .endswith() ## used to check that a character is ends with that particular text...
    (9) .isalnum() ## used to check a character have any alphabet text or number have not both...
    (10).sorted() ## used to sort character aplhabetically ..(ordering string)...
    (11).strip() ## used to delete unneccessery space from the character....
    (12).split() ## used to split the string in diffrent substring...(spliting string function)...
    (13). 'f' {} ## fromatting string , used to make a format of common string which can be used again and again...
    (14). \n ,\t ,\r  ## there are some espace function of string ( used a new line\n) ( used a tab function \t having 4space)     ( \r carriage return make beginning), move the cursor to the beginning of line...use a (\r) using carriage return         character its mean to move beginning a line..
    (15).len() ## used to count character its mean complete length of strings....
    (16)concatenation  ## used to add strings..

### Question(2) Explain the key features of lists in python..?

#### Ans = List are used to store multiple items in a single variable list are one of 4built in data type python used to store
    collection of data and the others are 3 tuples and sets and dictionary..
    list are ordered collection of item...
    syntax of list []
    list is like a shopping bag u can store any thing in list.. (list is hetrogenous..)
    list is a mutable..
    you can access anything in list...

### Features of list =

# List are ordered.
# List is mutable.
# List is hetrogenous.
# Slicing / extracting in list.
# Repeatation operation in list.
# List in list.
# Concatenation in list.
# Deep copy and shallow copy.
# Membership operator in list.
# List comprehension..

In [99]:
list1 = [ "milk","water","mango","banana","ladyfinger","chilly",1,2.5,3+5j,"bottel" ]
print(list1)
print(type(list1))

['milk', 'water', 'mango', 'banana', 'ladyfinger', 'chilly', 1, 2.5, (3+5j), 'bottel']
<class 'list'>

In [84]:
list1[0]
## list is mutable u can access any thing and replace anything...

'milk'

In [90]:
list1[3]
## if u want to access a list postive index starting left to right 0 ,1 ,2 ,3 ,4 , 5, infinity..

'mango'

In [86]:
list1[6]

1

In [89]:
list1[-1]
## if u want to access last index an element using -1 ... if u access a negative index starting left to right -1 , -2 ,-3 ,-4 ,infinity...

'bottel'

In [93]:
list1[0] = "watermelon"
## list is mutable u can change a any index of list negative or postive also....

In [92]:
list1

['watermelon',
 'chilly',
 'ladyfinger',
 'mango',
 'milk',
 'water',
 1,
 2.5,
 (3+5j),
 'bottel']

In [94]:
list1[-1] = "cup"

In [95]:
list1[-3] = "tree"

In [96]:
list1

['watermelon',
 'chilly',
 'ladyfinger',
 'mango',
 'milk',
 'water',
 1,
 'tree',
 (3+5j),
 'cup']

In [100]:
list1[-1] = "coffe"
list1[-2] = "tea"
list1[2] = "chilly potato"

In [101]:
list1

['milk',
 'water',
 'chilly potato',
 'banana',
 'ladyfinger',
 'chilly',
 1,
 2.5,
 'tea',
 'coffe']

In [102]:
## list is hetrogenous..u can store anything...

In [103]:
ab = [ "mohsin","abhishke",10,20,30,40+5j,True,False,"milk","water","banana"]
## store are string, and integer , boolean value...

In [104]:
ab

['mohsin',
 'abhishke',
 10,
 20,
 30,
 (40+5j),
 True,
 False,
 'milk',
 'water',
 'banana']

In [105]:
## slicing and extracting a list...

In [106]:
ab

['mohsin',
 'abhishke',
 10,
 20,
 30,
 (40+5j),
 True,
 False,
 'milk',
 'water',
 'banana']

In [109]:
ab[0::]  
## access a index by slicing.....

['mohsin',
 'abhishke',
 10,
 20,
 30,
 (40+5j),
 True,
 False,
 'milk',
 'water',
 'banana']

In [111]:
ab[-1] 
## access by slicing ... index access by negative follow to right to left ... -1,-2,-3,-4...

'banana'

In [110]:
ab[-2]

'water'

In [120]:
ab[::-1]
## u can access a list right to left....

['banana',
 'water',
 'milk',
 False,
 True,
 (40+5j),
 30,
 20,
 10,
 'abhishke',
 'mohsin']

In [122]:
ab[::-2]
## this is using print first index and skip a second index...using by step...

['banana', 'milk', True, 30, 10, 'mohsin']

In [124]:
ab[::-3]
## this is using print first index skip third index...

['banana', False, 30, 'abhishke']

In [125]:
## repetation operator..

In [132]:
"ab"*4
## this is repetation operator its means repeat a index many time given by u...

'abababab'

In [136]:
"'10 10' "*10
## repetation with pairs...

"'10 10' '10 10' '10 10' '10 10' '10 10' '10 10' '10 10' '10 10' '10 10' '10 10' "

In [138]:
"10"*10
## repetation by single index..

'10101010101010101010'

In [140]:
"10 "*10
## repetation by single index with space...

'10 10 10 10 10 10 10 10 10 10 '

In [159]:
a =" i am study data analyst course\n "
print(a*5)
## using \n create a new line with repetation....

 i am study data analyst course
  i am study data analyst course
  i am study data analyst course
  i am study data analyst course
  i am study data analyst course

In [161]:
my_name = ["abhishek"]
print(my_name*5)

['abhishek', 'abhishek', 'abhishek', 'abhishek', 'abhishek']

In [175]:
ab = "i am a student of pwskills\n"
bc = " i learning a data analyst\n"
cb = " i learned a pyhton\n "
dc = " u have completed module 1\n"
print(ab*2)
print(bc*2)
print(cb*5)
print(dc*2)

i am a student of pwskills
i am a student of pwskills

 i learning a data analyst
 i learning a data analyst

 i learned a pyhton
  i learned a pyhton
  i learned a pyhton
  i learned a pyhton
  i learned a pyhton

 u have completed module 1
 u have completed module 1

In [146]:
## list in list...

In [149]:
ab = ["abhishek","moshin",[1,2,3,4],"data"]
## list are store another list in same variable...

In [150]:
ab

['abhishek', 'moshin', [1, 2, 3, 4], 'data']

In [155]:
ab = ["pwskills",["data anlyst"],"course",["data science"]]   ## list in list..

In [156]:
ab

['pwskills', ['data anlyst'], 'course', ['data science']]

In [157]:
## concatenation of list..

In [166]:
ab = ["milk","bread","jam","penut butter"]
bc = ["orange","mango","banana","apple"]
## concatenation is adding elements in list ...

In [167]:
ad = ab+bc

In [168]:
ad

['milk', 'bread', 'jam', 'penut butter', 'orange', 'mango', 'banana', 'apple']

In [169]:
a = [10,20,30,40,50,"pw","skills","data","science"]
b = [2.3,4.5,True,False,"power bi","ai"]

In [170]:
ab = a+b

In [171]:
ab

[10,
 20,
 30,
 40,
 50,
 'pw',
 'skills',
 'data',
 'science',
 2.3,
 4.5,
 True,
 False,
 'power bi',
 'ai']

In [172]:
## deep copy and shallow copy...

## shallow copy

#### in shallow copy a copy of the original object is stored only the reference address is finally copied..
    if u can change or modification in list 1 they can also reflect/change in list 2....>>>
    shallow copy value will change with in other list....

In [176]:
list1 = [1,2,3]
list2 = ["a","b","c"]

In [177]:
list1

[1, 2, 3]

In [178]:
list2

['a', 'b', 'c']

In [180]:
list1 = list2

In [181]:
list1[0] = "ab"

In [182]:
list1
## this is beauty of shallow copy if u change anything in list1 in index they can also refelcted in list2....
##

['ab', 'b', 'c']

In [183]:
list2

['ab', 'b', 'c']

In [192]:
ab = ["pwskills","data science" ,"abhishek","mohsin","sanjeev"]
bc = ["power bi","ai","data structure","laptop"]

In [193]:
ab

['pwskills', 'data science', 'abhishek', 'mohsin', 'sanjeev']

In [194]:
bc

['power bi', 'ai', 'data structure', 'laptop']

In [195]:
ab[0] = "coding ninja"
##ab=bc
## if u dont give a equal ab to bc shollow copy are didnt work

In [190]:
ab

['coding ninja', 'ai', 'data structure', 'laptop']

In [197]:
bc
## see it they are didn't reflect in second list... because they are didn't give a commond to list1(ab) equals to list2(bc)

['power bi', 'ai', 'data structure', 'laptop']

['coding ninja', 'data science', 'abhishek', 'mohsin', 'sanjeev']

In [199]:
ab = ["pwskills","data science" ,"abhishek","mohsin","sanjeev"]
bc = ["power bi","ai","data structure","laptop"]

In [200]:
ab

['pwskills', 'data science', 'abhishek', 'mohsin', 'sanjeev']

In [201]:
bc

['power bi', 'ai', 'data structure', 'laptop']

In [202]:
ab=bc

In [203]:
ab[0] ="coding nonja"

In [204]:
ab

['coding nonja', 'ai', 'data structure', 'laptop']

In [206]:
bc
## see they are reflect list1 and list are both....

['coding nonja', 'ai', 'data structure', 'laptop']

In [207]:
bc[0] = "pwskills"

In [208]:
ab

['pwskills', 'ai', 'data structure', 'laptop']

In [209]:
bc

['pwskills', 'ai', 'data structure', 'laptop']

In [210]:
ab = ["pwskills","data science" ,"abhishek","mohsin","sanjeev"]
bc = ["power bi","ai","data structure","laptop"]

In [215]:
bc=ab
## u can access a equal to  list2 in list1....

In [212]:
bc

['pwskills', 'data science', 'abhishek', 'mohsin', 'sanjeev']

In [213]:
ab

['pwskills', 'data science', 'abhishek', 'mohsin', 'sanjeev']

In [219]:
ab[1] ="data anlyst"
### ab is pointing same memory location if either change in list(ab) the change will reflect both of variable....

In [217]:
ab

['pwskills', 'data anlyst', 'abhishek', 'mohsin', 'sanjeev']

In [218]:
bc

['pwskills', 'data anlyst', 'abhishek', 'mohsin', 'sanjeev']

### Deep copy

#### Deep copy the copy of original object and repetetive copies both are stored...
    deep copy = .copy()
    will not change the value in another list...
    when you are use .copy() its mean deep copy....
    if you make change in any list or b if do not any impact on other list....

In [220]:
grocery_list = ["banana","potato","tomato"]
grocery_list2 = ["mango","apple","ladyfinger"]

In [221]:
grocery_list

['banana', 'potato', 'tomato']

In [222]:
grocery_list2

['mango', 'apple', 'ladyfinger']

In [223]:
grocery_list = grocery_list2.copy()
## this is usage of deep copy..

In [227]:
grocery_list[0] = "carrot"
## if u can changing a grocerylist but do not any reflect in grocerylist2.....

In [225]:
grocery_list

['carrot', 'apple', 'ladyfinger']

In [226]:
grocery_list2

['mango', 'apple', 'ladyfinger']

In [228]:
ab = [1000,2000,3000,4000]
bc = [100,200,300,400]

In [229]:
ab

[1000, 2000, 3000, 4000]

In [230]:
bc

[100, 200, 300, 400]

In [231]:
bc= ab.copy()

In [232]:
bc[0] = 505

In [233]:
ab
## they are print a old index without any changes...

[1000, 2000, 3000, 4000]

In [235]:
bc
## they are reflect this index only.....

[505, 2000, 3000, 4000]

### Membership operator  ( IN or NOT IN )

#### Membership operator in python checks whether a given value is a member of sequnce such as string,list,tuples ..
    there are two primary type:
    IN (return true if specified value is found within a sequence)
    NOT IN (return true specified value is not found within a sequence)

In [238]:
my_list = ["apple","banana","ladyfinger"]

In [239]:
my_list

['apple', 'banana', 'ladyfinger']

In [242]:
"apple" in my_list
## this is in a list so this is true...using by in...>>

True

In [248]:
"mango" in my_list
## showing a false because they are already in a my_list....

False

In [249]:
"banana" in my_list

True

In [250]:
"carrot" in my_list

False

In [251]:
"ladyfinger" in my_list

True

In [254]:
## NOT IN

In [255]:
my_list2 = [ "brown bread","bread","penut bread","milk bread","coconut bread"]
## this list i will show not in operator....

In [253]:
my_list2

['brown bread', 'bread', 'penut bread', 'milk bread', 'coconut bread']

In [259]:
"brown bread" not in my_list2
## they are showing false because brown bread already in list..../

False

In [260]:
"apple" not in my_list2
### they are showing true because they are not in list...

True

In [261]:
"penut bread" not in my_list2

False

In [263]:
"milk breaddd" not in my_list2

True

In [264]:
"milk bread" not in my_list2

False

### List comprehension

#### List comprehension is an easy to read ,compact, and elegant way to creating a list from any existing iterable object....
    its a generally a single line of code...
    this is list comprehension one line code and endclosed by [].....

In [266]:
## example of list comprehension

In [274]:
prices = [10,20,30,40,50,60,70]
double_price= []
for i in price:
    double_price.append(i*2)

In [275]:
double_price

[20, 40, 60, 80, 100, 120, 140]

In [277]:
## if i use list comprehension on same list
[price*2 for price in prices]
## this is list comprehension one line code and endclosed by [].....

[20, 40, 60, 80, 100, 120, 140]

In [281]:
ranks = [100,200,300,400]
top_rank = []
for i in rank:
    top_rank.append(i*2)
### normal code

In [282]:
top_rank

[200, 400, 600, 800]

In [284]:
## list comprehension// one line code.....
[rank*2 for rank in ranks]

[200, 400, 600, 800]

### Function of list..

#### (1).append() # use to add an element at the end place in any list.
    (2).insert() # use to insert an element at a particular place in the list.
    (3).extend() # it will helps to extend a list by another list.
    (4).remove() # use to remove any particular element of list by giving argument in the parenthesis.
    (5).del() # use to delete the complete list.
    (6).clear # use to clear the list and make it empty list.
    (7).pop() # also help to delete the last element if paraenthesis is blank , if parenthesis have argument ,it will delete   that particular element.
    (8).index() # helps to know the index of an element >> it will always provide the first occurence of element in list...
    (9).sorted() # helps to sort the list in alphabetically , if all in the same uppercase or lowercase , otherwise it will prefer first uppercase..
    (10).sort() # same as it is dorted function.
    (11).count() # helps to use count the number of any specific element in the list.
    (12).len() # helps to find out of complete length of list..

### Question(3) Describe how to access, modify , and delete elements in list with example..?

#### Ans = List is a data structure in python that is a mutable or changeable, ordered sequence of elements. Each elements
    or value that is inside of a list is called an item...

    (1)access in a list
    (2)modify in a list
    (3)delete in a list

### Access in a list...

In [4]:
my_list = ["abhishek","mohsin","sanjeev",100,200,400]

In [5]:
my_list

['abhishek', 'mohsin', 'sanjeev', 100, 200, 400]

In [7]:
my_list[0]
## access a single index...

'abhishek'

In [8]:
my_list[2]

'sanjeev'

In [10]:
my_list[-1]
## access a index in negative...

400

In [19]:
my_list[10]
## acces in my list they are showing error because index is not in list..

IndexError: list index out of range

In [20]:
## if u want to access a list in how much length....?>>>>>

In [22]:
my_list

['abhishek', 'mohsin', 'sanjeev', 100, 200, 400]

In [23]:
len(my_list)

6

In [24]:
## if u want to access a list to count a index in mylist...

In [25]:
my_list1 = ["milk","milk","apple","apple","apple","banana","mango"]

In [26]:
my_list1

['milk', 'milk', 'apple', 'apple', 'apple', 'banana', 'mango']

In [28]:
my_list1.count("milk")
## this is count how many same index in a list....

2

In [29]:
my_list1.count("apple")

3

In [30]:
## access a  index in list....

In [31]:
my_list1

['milk', 'milk', 'apple', 'apple', 'apple', 'banana', 'mango']

In [33]:
my_list1.index("milk")
## access a list which position in index in list...

0

In [35]:
my_list1.index("mango")

6

### Modify in list

In [37]:
my_list

['abhishek', 'mohsin', 'sanjeev', 100, 200, 400]

In [38]:
## if u want to modify a list adding a some value...
my_list.append("swati")

In [39]:
my_list

['abhishek', 'mohsin', 'sanjeev', 100, 200, 400, 'swati']

In [42]:
my_list.append("bheema")
## .append is adding a value in last index in list.

In [43]:
my_list

['abhishek', 'mohsin', 'sanjeev', 100, 200, 400, 'swati', 'bheema', 'bheema']

In [44]:
## .insert adding a value a specific index...

In [45]:
my_list

['abhishek', 'mohsin', 'sanjeev', 100, 200, 400, 'swati', 'bheema', 'bheema']

In [49]:
my_list.insert(2,"rashika")

In [50]:
my_list

['abhishek',
 'mohsin',
 'rashika',
 'rashika',
 'sanjeev',
 100,
 200,
 400,
 'swati',
 'bheema',
 'bheema']

In [51]:
my_list.insert(3,"adil bhai")

In [52]:
my_list

['abhishek',
 'mohsin',
 'rashika',
 'adil bhai',
 'rashika',
 'sanjeev',
 100,
 200,
 400,
 'swati',
 'bheema',
 'bheema']

In [53]:
## .extend() if want to modify a list u have adding list two list to combine a one list...

In [55]:
my_list

['abhishek',
 'mohsin',
 'rashika',
 'adil bhai',
 'rashika',
 'sanjeev',
 100,
 200,
 400,
 'swati',
 'bheema',
 'bheema']

In [56]:
my_list1

['milk', 'milk', 'apple', 'apple', 'apple', 'banana', 'mango']

In [58]:
my_list.extend(my_list1)
## .extend is combine a list....

In [59]:
my_list

['abhishek',
 'mohsin',
 'rashika',
 'adil bhai',
 'rashika',
 'sanjeev',
 100,
 200,
 400,
 'swati',
 'bheema',
 'bheema',
 'milk',
 'milk',
 'apple',
 'apple',
 'apple',
 'banana',
 'mango',
 'milk',
 'milk',
 'apple',
 'apple',
 'apple',
 'banana',
 'mango']

### Delete a elements...

In [62]:
my_list1

['milk', 'milk', 'apple', 'apple', 'apple', 'banana', 'mango']

In [63]:
## if u want a clear a list...(delete a all index in list)
my_list1.clear()

In [65]:
my_list1
## if u clear a list show a empty list....

[]

In [66]:
## if u want delete a list 
del my_list1

In [68]:
my_list1
## if u delete a list they are showing a error not deined name.....

NameError: name 'my_list1' is not defined

In [82]:
## if want to delete a specific index in list so use .remove>>>>
my_list1 = ["milk","mango","brown bread","milk bread"]

In [83]:
my_list1

['milk', 'mango', 'brown bread', 'milk bread']

In [84]:
my_list1.remove("mango")

In [85]:
my_list1

['milk', 'brown bread', 'milk bread']

In [86]:
my_list1.remove("milk")

In [88]:
my_list1
## if u want delete a specific index in list..

['brown bread', 'milk bread']

In [89]:
## .pop also help to delete the last element if paraenthesis is blank , if parenthesis have argument ,it will delete that particular element.

In [90]:
my_list2 = ["pwskills","data sc","data str","power bi"]

In [91]:
my_list2

['pwskills', 'data sc', 'data str', 'power bi']

In [92]:
my_list2.pop()
## .pop is deleted a last index in the list..

'power bi'

In [93]:
my_list2

['pwskills', 'data sc', 'data str']

In [94]:
my_list2.pop()

'data str'

In [95]:
my_list2

['pwskills', 'data sc']

### Question(4) Compare and contrast tuples and lists with examples. ??

#### Ans = TUPLES =:
    In python tuple is built in data type that allows you to create immutable sequnce of value..
    ordered = maintain the order of the data insertion.
    Unchangeable= tuples are immutable and we can't modifiy items.
    Hetrogenous= Tuples can contains data of types.
    Contains duplicate= Allows dulpicates data.

    LIST =:
    A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements...
    Unlike strings, lists are mutable. This means we can change an item in a list by accessing it directly as part of the
    assignment statement....

### compare a list and tuple==
    LIST=
    (1)list are mutable.
    (2)the implication of iterations is time-consuming.
    (3)the list is better for performing operations,such as insertion and deletion..
    (4)List consume more memory..
    (5)List have several buit-in method..
    (6)unexcepted changes and error are more likely to occur..

    TUPLES=
    (1)Tuples are immutable..
    (2)the implication of iteration is comparatively faster..
    (3)A tuple data type is appropriate for accessing the elements..
    (4)Tuple a consume less memory compare to list..
    (5)Tuple not have many buit-in methods.
    (6)Because tuples dont change they are far less and error-prone..

### Examples of Tuples..

In [ ]:
## tuples are ordered collection of elements , hetrogenous >>>>>

In [103]:
tu = ()
type(tu)

tuple

In [104]:
t = (1,2,3,33,33,33,"pwskills","power bi","ai","mango")
t

(1, 2, 3, 33, 33, 33, 'pwskills', 'power bi', 'ai', 'mango')

In [105]:
type(t)

tuple

In [106]:
t[0]

1

In [107]:
t[8]

'ai'

In [108]:
t[6]

'pwskills'

In [109]:
## if u want to change a index value in tuple...

In [111]:
t[0] = "ajay"
## tuple can't change the index value....

TypeError: 'tuple' object does not support item assignment

In [112]:
t[3] = "banana"
## use tuples as a data structure where you dont want tp modify the data

TypeError: 'tuple' object does not support item assignment

NameError: name 't1' is not defined

In [18]:
t1 = ("banana","mango","dragon fruit","watermelon","mango","banana")

In [5]:
t1.append("milk")
## tuple are do not allow add any index value use by function..

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
t1

('banana', 'mango', 'dragon fruit', 'watermelon', 'mango', 'banana')

In [9]:
t1.remove("mango")
## tuple has been do not allow remove any specific index in tuple..

AttributeError: 'tuple' object has no attribute 'remove'

In [20]:
t1

('banana', 'mango', 'dragon fruit', 'watermelon', 'mango', 'banana')

In [21]:
t1.count("mango")
## tuple has been minimum built-in function if u want to know how many common index in tuple...

2

In [22]:
t1.count("banana")

2

In [23]:
t1.count("watermelon")

1

In [25]:
t1
## if u find out length....
## use len function..

('banana', 'mango', 'dragon fruit', 'watermelon', 'mango', 'banana')

In [26]:
len(t1)

6

In [27]:
## one more built-in function in tuple 
## max , min

In [28]:
t = (100,200,300,400,500,600,1000)

In [30]:
max(t)
## if u used to find maximum number in tuple...

1000

In [33]:
min(t)
## if u used to find minimum number in tuple..

100

In [38]:
t

(100, 200, 300, 400, 500, 600, 1000)

In [39]:
## if u want to delete a variable one last built-in function in tuple...

In [40]:
t

(100, 200, 300, 400, 500, 600, 1000)

In [43]:
del t
## if used a del function than execute a clear all data in tuples....

NameError: name 't' is not defined

In [42]:
t

NameError: name 't' is not defined

### Example in list..

In [34]:
my_list = []

In [35]:
type(my_list)

list

In [36]:
my_list = ["abhishek","mohsin","sanjeev","bheema","adil bhai","milk","banana"]

In [37]:
my_list

['abhishek', 'mohsin', 'sanjeev', 'bheema', 'adil bhai', 'milk', 'banana']

## list have many built-in function..
.append()
.remove()
.clear()
.extend()
.pop()
.del
.sort()
.upper()
.lower()
.swapcase()

In [45]:
my_list

['abhishek', 'mohsin', 'sanjeev', 'bheema', 'adil bhai', 'milk', 'banana']

In [47]:
my_list[0]
## if u want to access a particular index....

'abhishek'

In [48]:
my_list[1]

'mohsin'

In [51]:
my_list[0] = "jordan bhai"
## list are allow to change a any index in list....because list is mutable

IndexError: list assignment index out of range

In [52]:
my_list

['jordan bhai', 'mohsin', 'sanjeev', 'bheema', 'adil bhai', 'milk', 'banana']

In [55]:
my_list.append("abhishek")
### if u want to add specific index in list than use .append()>>>>>>

In [56]:
my_list

['jordan bhai',
 'mohsin',
 'sanjeev',
 'bheema',
 'adil bhai',
 'milk',
 'banana',
 'abhishek',
 'abhishek']

In [57]:
my_list

['jordan bhai',
 'mohsin',
 'sanjeev',
 'bheema',
 'adil bhai',
 'milk',
 'banana',
 'abhishek',
 'abhishek']

In [62]:
my_list.remove("milk")
## if u want to remove specific index in list.....

In [63]:
my_list

['mohsin', 'sanjeev', 'bheema', 'adil bhai', 'banana', 'abhishek', 'abhishek']

In [64]:
## if u want to clear a list..
my_list.clear()

In [66]:
my_list
### if u have clear list than show it empty list...

[]

In [69]:
my_list = ["banana","pwskills",12,22,33,22,232.34,2322.232,23+5j,True,False]
## list is mutable and hetrogenous u can store anything in list......

In [70]:
my_list

['banana', 'pwskills', 12, 22, 33, 22, 232.34, 2322.232, (23+5j), True, False]

### Question(5) Describe the key feature of sets and provide examples of their sets..??

#### Ans= sets is unordered collection of unique elements Sets are used to store multiple items in a single variable. 
    Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and       Dictionary,
    all with different qualities and usage. A set is a collection which is unordered, unchangeable, and unindexed...
    ** set are mutable data structure..
    ** but do not  access any index because set are unordered form that's why can't access a index.
    ** set never dulpicate a elements..
    ** but we can manipulate a set use by the function of set..
    ** set are hetrogenous...
    ** set are unhashable data structure...
    ** syntax of set {}.....
    ** set operation...

In [74]:
set1 = {"abhishek","mohsin","sanjeev",12,12,12,13,14,15,33.5,33.5,44.5,True,False}

In [76]:
set1
## set is unorder collection and didn't allow duplicate item in sets and indexing will not work....

{12, 13, 14, 15, 33.5, 44.5, False, True, 'abhishek', 'mohsin', 'sanjeev'}

In [77]:
## if u have convert a list in a sets..
s = [ 10,10,10,10,20,30,40,50,50,50,"pwskills","pwskills","abhishke"]

In [78]:
s

[10, 10, 10, 10, 20, 30, 40, 50, 50, 50, 'pwskills', 'pwskills', 'abhishke']

In [79]:
type(s)

list

In [81]:
set(s)
## this is beauty of set convert list in sets...if didn't allow to duplicate item...

{10, 20, 30, 40, 50, 'abhishke', 'pwskills'}

In [84]:
s = list(s)
## if u have again convert into list...

In [83]:
s

[10, 10, 10, 10, 20, 30, 40, 50, 50, 50, 'pwskills', 'pwskills', 'abhishke']

In [85]:
s = {10,20,30,40}
## set is mutable but can't acces a any index...

In [86]:
s

{10, 20, 30, 40}

In [88]:
s[0]
## can't access any index because set is unodered collection..

TypeError: 'set' object is not subscriptable

In [89]:
## set are unhashable data structure...
s = { "pwskills","mango",{10,20,30}}

TypeError: unhashable type: 'set'

In [90]:
## this is unhasable data  unhashable objects do not have hash values such as list, dict, set, etc...
s = {"pwskills","data science","power bi",(10,20,30,40)}

In [92]:
s
## this is execute because tuple is immutable...

{(10, 20, 30, 40), 'data science', 'power bi', 'pwskills'}

In [93]:
## set are hetrogenous data structure...
s = {10,20,30,"pwskills","banana","apple","bread","milk","ajay"}

In [95]:
s
## set is hetrogenous data that's why we can store any thing....

{10, 20, 30, 'ajay', 'apple', 'banana', 'bread', 'milk', 'pwskills'}

In [96]:
## syntax of set...

In [98]:
s = {}
type(s)
## this is showing dict because empty.. if u can put a value in curly bracket than the type of sets...

dict

In [99]:
s = {1}
type(s)

set

In [100]:
## if u want to add a value of sets..

In [102]:
s = {10,20,30,40,"abhishek","mohsin","sanjeev"}

In [103]:
s

{10, 20, 30, 40, 'abhishek', 'mohsin', 'sanjeev'}

In [106]:
s.add(1000)
## do not compulsary that it will add to last in sets.

In [107]:
s

{10, 1000, 20, 30, 40, 'abhishek', 'mohsin', 'sanjeev'}

In [111]:
## if u want remove any index..
s.pop()

20

In [112]:
s

{1000, 30, 40, 'abhishek', 'mohsin', 'sanjeev'}

In [115]:
s.pop()
## pop its not compulsary that it will be remove last indec in sets ... they are choose a randomally index...

40

In [114]:
s

{1000, 30, 40, 'mohsin', 'sanjeev'}

In [116]:
## if u want to remove a specific number of index...
s.remove(1000)

In [117]:
s

{30, 'mohsin', 'sanjeev'}

In [118]:
## if u want to update a iterates...
s.update([1000,"abhishek"])

In [119]:
s
## i can update string and integer both...

{1000, 30, 'abhishek', 'mohsin', 'sanjeev'}

### Set operation..
#### (1) union  = syntax of union (|)        
    (2) intersection.  =syntax of intersection (&)
    (3) diffrence.  = syntax of diffrence (-)
    (4) symmetric diffrence = syntax of symmetric diffrence (^)

In [122]:
## union == union is combine elements from two sets including duplicates..
## intersection == only common elements between sets..
## diffrence == return the elements that is present in first sets not in second set..
## symmetric diffrence == Return element that are present in either of sets but not in....

In [123]:
set1 = {"coding","photograpy","books"}
set2 = {"coding","power bi","book2"}

In [124]:
set1

{'books', 'coding', 'photograpy'}

In [125]:
set2

{'book2', 'coding', 'power bi'}

In [126]:
## union of sets ==union is combine elements from two sets including duplicates..
set1|set2

{'book2', 'books', 'coding', 'photograpy', 'power bi'}

In [127]:
## intersection of set ==  only common elements between sets..
set1&set2

{'coding'}

In [128]:
## diffrence of set..  == return the elements that is present in first sets not in second set..
set1-set2

{'books', 'photograpy'}

In [129]:
## symmetric diffrence == Return element that are present in either of sets but not in... 
set1^set2

{'book2', 'books', 'photograpy', 'power bi'}

#### FROZEN SETS =:
    Frozen set is immutable version of set cannot be added or removed any new elements....

In [2]:
mylist = frozenset([100,200,300,400])

In [3]:
mylist

frozenset({100, 200, 300, 400})

In [5]:
mylist.add(100)

AttributeError: 'frozenset' object has no attribute 'add'

In [6]:
### error  because frozen set its cant be changed ....and this is usage case in a office  and govt. sector also ...

#### That's all about of key feature and examples of sets and frozen sets....

### Question(6) Discuss the use cases of tuples and sets in python programming..??

#### Ans = use cases of tuples and sets..
    TUPLES =: Tuples are used to store multiple items in a single variable. Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

    tuples are immutable.
    tuples are hetrogenous we can store any thing in tuples.
    tuples are ordered collection elements..
    tuples are membership operator..


    SETS =: A common use of sets in Python is computing standard math operations such as union, intersection, difference, and symmetric difference...
    Sets are unordered and unique collection of elements.
    Sets doesn't allow duplicate elements..
    Sets unordered >>> indexing will not work..
    Sets are unhasable type data structure..
    sets operations..

### SETS

In [12]:
## SETS
ab = {"abhishek"}

In [13]:
ab

{'abhishek'}

In [14]:
type(ab)

set

In [15]:
s = { "abhi","pwskills","skills","power bi","ai"}
s

{'abhi', 'ai', 'power bi', 'pwskills', 'skills'}

In [19]:
# if i access the index in sets show errror..
s[0]

TypeError: 'set' object is not subscriptable

In [21]:
s[0] = "course
## sets are immutable and do not  change the value of sets..

SyntaxError: unterminated string literal (detected at line 1) (1377209548.py, line 1)

In [25]:
s
## sets are convert into list and convert into list to sets...

{'abhi', 'ai', 'power bi', 'pwskills', 'skills'}

In [26]:
s = list(s)

In [27]:
s

['skills', 'power bi', 'pwskills', 'abhi', 'ai']

In [29]:
type(s)
## converted into list...

list

In [32]:
s = set(s)
## again converted into a sets...

In [33]:
s

{'abhi', 'ai', 'power bi', 'pwskills', 'skills'}

In [34]:
type(s)

set

In [36]:
## sets are unhashable...
## unhashable type it is mutable list set..

In [37]:
a = {"abhi","mohsin","sanjeev",{"adil bhai"},100,200}

TypeError: unhashable type: 'set'

In [38]:
a = {"abhi","mohsin","sanjeev",("adil bhai"),100,200} 
## its no error because tuple is immutable....

In [39]:
a

{100, 200, 'abhi', 'adil bhai', 'mohsin', 'sanjeev'}

In [40]:
## if i can run in loop form...
for i in a:
    print(i)

sanjeev
100
adil bhai
200
mohsin
abhi

In [43]:
## use caases in built-in of sets...

In [44]:
a

{100, 200, 'abhi', 'adil bhai', 'mohsin', 'sanjeev'}

In [47]:
a.add(1000)
# do not compulsary that it will add to last of set..

In [53]:
a

{100, 1000, 200, 'adil bhai', 'mohsin', 'sanjeev'}

In [56]:
a.remove("adil bhai")
## if u can remove specific index in elements...

In [57]:
a

{100, 1000, 200, 'mohsin', 'sanjeev'}

In [58]:
a.pop()
## pop are also use case  of delete a index but that it will not a delete a last index in sets..

'sanjeev'

In [59]:
a

{100, 1000, 200, 'mohsin'}

In [60]:
a.update("abhishek")
## this built-in function are update a index in element but they are updated in sequence form if you not use in syntax of tuple...

In [61]:
a

{100, 1000, 200, 'a', 'b', 'e', 'h', 'i', 'k', 'mohsin', 's'}

In [62]:
a.update(["abhishek"])
## this is using of syntax of tuple in update built-in function they are update proper way.....

In [63]:
a

{100, 1000, 200, 'a', 'abhishek', 'b', 'e', 'h', 'i', 'k', 'mohsin', 's'}

In [65]:
a.clear()
## if u want to remove all index in sets..

In [68]:
a
## if u clear than show are empty sets...

set()

In [69]:
## Discard is new function it is same at remove ... ((diffrence into remove and discard)) .... discard are didnt showing in
## error give value to do not into in variable...

## error will not be thrown unlikely remove if the elements is not present...

In [70]:
a = {"abhi","mohsin","sanjeev",("adil bhai"),100,200}

In [71]:
a

{100, 200, 'abhi', 'adil bhai', 'mohsin', 'sanjeev'}

In [73]:
a.discard(100)
## discard is as it is same function of remove...

In [74]:
a

{200, 'abhi', 'adil bhai', 'mohsin', 'sanjeev'}

In [75]:
a.discard(1000)
## Discard are didn't show in error give value to do not into in variable....

In [76]:
a

{200, 'abhi', 'adil bhai', 'mohsin', 'sanjeev'}

#### FROZEN SET
    except that frozensets are immutable, which implies that once generated, 
    elements from the frozenset cannot be added or removed....

In [79]:
myset = frozenset([10,20,30,40])

In [80]:
myset

frozenset({10, 20, 30, 40})

In [82]:
myset[0]
## i can't be access a frozen sets.

TypeError: 'frozenset' object is not subscriptable

In [84]:
myset[0] = "abhi"
## i can't be change any index value in frozen sets...

TypeError: 'frozenset' object does not support item assignment

#### SETS OPERATION...
    (1) union  = syntax of union (|)        
    (2) intersection.  =syntax of intersection (&)
    (3) diffrence.  = syntax of diffrence (-)
    (4) symmetric diffrence = syntax of symmetric diffrence (^)
## union  == combine elements from two sets excluding duplicates...
## intersection == only commen elements between sets..
## difference == return the elements that is present in first sets and not in second...
## symmetric difference == return elements that are present in either of sets but not in common.

In [85]:
## set of union
a = {"abhi","pw","skills",}
b = {"abhi","dtat science","data analyst"}

In [86]:
a

{'abhi', 'pw', 'skills'}

In [87]:
b

{'abhi', 'data analyst', 'dtat science'}

In [88]:
## union(|)
## combine all elements including common also...
a|b

{'abhi', 'data analyst', 'dtat science', 'pw', 'skills'}

In [90]:
## intersection(&)
## intersection find a common index in between set a and set b.
a&b

{'abhi'}

In [91]:
## diffrence(-)
## return the elements that is present in first sets and not in second...
a-b

{'pw', 'skills'}

In [92]:
## symmetric diffrence(^)
## return elements that are present in either of sets but not in common..
a^b

{'data analyst', 'dtat science', 'pw', 'skills'}

#### all about of uses are sets and frozen sets and set operation and understanding of sets...

### TUPLES

In [100]:
a = (10,20,20,10,"pw","skills")

In [101]:
type(a)

tuple

In [95]:
a
## tuples are allow to duplicates item...

(10, 20, 20, 10, 'pw', 'skills')

In [97]:
a[0]
## if u can acces a particular index in elements...

10

In [99]:
a[0] = "abhi"
## but u can't change a index value because tuple are immutable...

TypeError: 'tuple' object does not support item assignment

In [102]:
## use tuples as a data structure where you dont want to modify the data....

In [105]:
## some tuples built-in function uses..
a = (10,10,10,10,20,20,20,"pw","pw","skills","data str")

In [106]:
a

(10, 10, 10, 10, 20, 20, 20, 'pw', 'pw', 'skills', 'data str')

In [108]:
a.count(10)
## count is calculate how many same index in elements...

4

In [110]:
a.index("pw")
## index in find out of position of index in elements..

7

In [111]:
a.index(20)

4

In [113]:
max(a)
## this is not support max and min function in this because this elements are including string and integer also....max and min built-in tuples are working onlu integers...

TypeError: '>' not supported between instances of 'str' and 'int'

In [114]:
a = (100,200,300,400)

In [116]:
max(a)
## this is understanding of python..u have give onlu integer value and than give didn't error..

400

In [119]:
min(a)
## find a minimum value of elements..

100

In [120]:
## multiply by tuples....

In [3]:
tuplee = ( "pwskills","data science","data analyst","cousre")

In [5]:
print(tuplee*2)

('pwskills', 'data science', 'data analyst', 'cousre', 'pwskills', 'data science', 'data analyst', 'cousre')

In [6]:
a = (100,200,300,400,500)
print(a*2)

(100, 200, 300, 400, 500, 100, 200, 300, 400, 500)

In [8]:
## tuples slicing  
a = ("abhi","moshin","sanjeev","adil bhai")
a[0::]
## slicing are three steps == : start/end/step

('abhi', 'moshin', 'sanjeev', 'adil bhai')

In [10]:
a[0:1:2]
## slice is run to in postive way to right to left..

('abhi',)

In [12]:
a[::-1]
## if u give negative index than follow a left to right access....

('adil bhai', 'sanjeev', 'moshin', 'abhi')

In [16]:
a[:-1:-2]
## they are show in empty tiples because negative are not acces to ends and step....

()

In [17]:
## iterate a tuples...

In [18]:
a = (10,20,30,40,50,60,"pwskills","data str","data analyst")

In [19]:
a

(10, 20, 30, 40, 50, 60, 'pwskills', 'data str', 'data analyst')

In [20]:
## iterate in tuples....
for i in a:
    print(i)

10
20
30
40
50
60
pwskills
data str
data analyst

In [21]:
## if u want to find type of elements...

In [22]:
for i in a:
    print(i,type(i))

10 <class 'int'>
20 <class 'int'>
30 <class 'int'>
40 <class 'int'>
50 <class 'int'>
60 <class 'int'>
pwskills <class 'str'>
data str <class 'str'>
data analyst <class 'str'>

In [23]:
## if u want a put this type tuples inside one tuples..
a = (10,20,30,40)
b = ("pw","skills","data","str")

In [24]:
c = (a,b)

In [25]:
c

((10, 20, 30, 40), ('pw', 'skills', 'data', 'str'))

In [26]:
type(c)

tuple

In [27]:
### membership operator in tuples...(( in // not in ))
## IN operator 
## NOT IN operator

a = (100, 2000,4000,"pwskills","data")

In [28]:
a

(100, 2000, 4000, 'pwskills', 'data')

In [30]:
100 in a
## if value are in tuple they give true another wise false...

True

In [32]:
"pwskills" in a

True

In [33]:
"data" in a

True

In [34]:
## NOT IN 
100 not in a

False

In [35]:
"course" not in a

True

In [36]:
"pwskills" not in a

False

In [37]:
## if u want to combine a tuples..
## syntax of combine (+)

In [38]:
a = (100,200,300,400)
b = ("ab","ac","ad","ae")

In [39]:
a+b

(100, 200, 300, 400, 'ab', 'ac', 'ad', 'ae')

In [41]:
grocery_list = ("milk","bread","brwon bread","chips")
grocery_list1 = ("milk bread","sugar","rice")
## combine a grocery list..

In [42]:
list1 = grocery_list+grocery_list1

In [43]:
list1

('milk', 'bread', 'brwon bread', 'chips', 'milk bread', 'sugar', 'rice')

That's all about understanding of  tuples...

### Question(7) Describe how to add , modify and delete items in a dictionary with examples.?

#### Ans= Dictionary is a dta structure that stores data as key value pair. keys are unique and immutable.
    Dictionary are unordered but from recent python 3.7 version ,dictionaries retain the order of insertion.
    This means that if you iterate over a dictionary the item will be returned in the order they were added.

#### Dictionary built-in function==
    del ## delete whole dictionary..
    .clear() ## if you want a clear all key:value pairs..
    len() ## usage of find a length of dictionary..
    .key() ## if you want to access a value...
    .copy() ## if you want a copy all key value pairs...
    .pop() ## if you want to delete a specififc value...
    .update() ## if you want to update new dictionary to old dictionary...
    .get() ## add new function to check value of dictionary....
    .fromkeys() ## create a new dictionary with key from iterable and values set to value..
## syntax of dictionary {}

In [2]:
d = {}
type(d)

dict

In [4]:
d = {"name":"abhishek","email":"ab123@gmail.com","contact":12345}

In [7]:
d["name"]
## if u want to access a index same at is list postive way to right to left negative to left to right..d[

'abhishek'

In [15]:
d["contact"]
## you can access only value using key,... vicee-versa not possible..

11000002212

In [17]:
d[1]
## if u want a access by value getting a error...

KeyError: 1

In [11]:
d["name"]= "pwskills"
## this is modify a value of dictionary...

In [12]:
d

{'name': 'pwskills', 'email': 'ab123@gmail.com', 'contact': 12345}

In [13]:
d["contact"]=11000002212

In [14]:
d

{'name': 'pwskills', 'email': 'ab123@gmail.com', 'contact': 11000002212}

### Dictionary of rules
    d= {1:"abc"}  ## integer as key..
    d = {1.25:"abc"}  ## float as a key..
    d = {True:"abc"} ## boolean value as a key..
    d ={@:"abc"} ## but any special character are not as a key..

In [21]:
## integer value as key
d = {1:"abc"}

In [22]:
d

{1: 'abc'}

In [23]:
## boolean value as key
d= {1.5:"abc"}

In [24]:
d

{1.5: 'abc'}

In [25]:
## float value as key
d={True:"abc"}

In [26]:
d

{True: 'abc'}

In [28]:
## special character are not getting as a key that's wy getting error.
d={@:"abc"}

SyntaxError: invalid syntax (3424747513.py, line 2)

In [31]:
## if a list as a key:::: this error because list are not as a key..
d ={[1,2,3]:"abc"}

TypeError: unhashable type: 'list'

In [33]:
## if set as a key :::: this error because sets are not as a key..
d={{1,2,3}:"abc"}

TypeError: unhashable type: 'set'

In [37]:
## if a tuple as a key ::: yes tuple as a keys... 
d = {(1,2,3):"abc"}

In [38]:
d

{(1, 2, 3): 'abc'}

In [39]:
### only string and numbers can be used as a key of the dictionary....

In [45]:
## how to access a specific values in the dictionary.....
d = {"name":["abhishek","mohsin","sanjeev"],"email":"ab123@gmail.com","contact":123456}

In [46]:
d

{'name': ['abhishek', 'mohsin', 'sanjeev'],
 'email': 'ab123@gmail.com',
 'contact': 123456}

In [49]:
d["name"][1]
## if want to access a specific index in value..

'mohsin'

In [50]:
d["name"][2]

'sanjeev'

In [51]:
## if i want to add a some new  keyu and value...
d

{'name': ['abhishek', 'mohsin', 'sanjeev'],
 'email': 'ab123@gmail.com',
 'contact': 123456}

In [54]:
d["address"] ="lucknow gomti nagar"
## add a new index in key value pair in dictionary....

In [55]:
d

{'name': ['abhishek', 'mohsin', 'sanjeev'],
 'email': 'ab123@gmail.com',
 'contact': 123456,
 'address': 'lucknow gomti nagar'}

In [56]:
## if u want find a len of dictionary...
d

{'name': ['abhishek', 'mohsin', 'sanjeev'],
 'email': 'ab123@gmail.com',
 'contact': 123456,
 'address': 'lucknow gomti nagar'}

In [58]:
len(d)
### built-in function of dictionary find a length..

4

In [60]:
## if u want to access all key in elements..
d.keys()

dict_keys(['name', 'email', 'contact', 'address'])

In [62]:
## if want to access all value in dictionary....
d.values()

dict_values([['abhishek', 'mohsin', 'sanjeev'], 'ab123@gmail.com', 123456, 'lucknow gomti nagar'])

In [63]:
## if i want to copy a data in another elements..
d1 =d.copy()

In [64]:
d

{'name': ['abhishek', 'mohsin', 'sanjeev'],
 'email': 'ab123@gmail.com',
 'contact': 123456,
 'address': 'lucknow gomti nagar'}

In [66]:
d1
## this is built-funtion of dictionary.....

{'name': ['abhishek', 'mohsin', 'sanjeev'],
 'email': 'ab123@gmail.com',
 'contact': 123456,
 'address': 'lucknow gomti nagar'}

In [67]:
## if u want to clear a all key value pair....
d.clear()

In [69]:
d
### showing empty dict because clear all key value pair...

{}

In [71]:
## if u want to delete a  whole dictionary...
del d

In [73]:
d
## delete whole dict thats why show not defind d....

NameError: name 'd' is not defined

In [74]:
## if u want to delete specific character in dictionary...
d1

{'name': ['abhishek', 'mohsin', 'sanjeev'],
 'email': 'ab123@gmail.com',
 'contact': 123456,
 'address': 'lucknow gomti nagar'}

In [76]:
d1.pop("contact")

123456

In [78]:
d1
## dlete a specific key value pair....

{'name': ['abhishek', 'mohsin', 'sanjeev'],
 'email': 'ab123@gmail.com',
 'address': 'lucknow gomti nagar'}

In [88]:
## if u want to update a some key value pair in elements....
d = {"name":"abhishek","email":"ab@gmail.com","address":"lucnow"}

In [89]:
d

{'name': 'abhishek', 'email': 'ab@gmail.com', 'address': 'lucnow'}

In [90]:
d1={"contact":123456}

In [93]:
d.update(d1)
## if u want to update new dictionary to old dictionary.................

In [94]:
d

{'name': 'abhishek',
 'email': 'ab@gmail.com',
 'address': 'lucnow',
 'contact': 123456}

In [95]:
## if u add new function to check value of dictionary....get()

In [96]:
d = {"name":["abhishek","mohsin","sanjeev"],"email":"ab123@gmail.com","contact":123456}

In [97]:
d

{'name': ['abhishek', 'mohsin', 'sanjeev'],
 'email': 'ab123@gmail.com',
 'contact': 123456}

In [101]:
d.get("name")
## access a specific index in a dictionary...

['abhishek', 'mohsin', 'sanjeev']

In [103]:
## fromkeys()  >> create a new dictionary with key from iterable and values set value..
d.fromkeys((1,2,3),("a","b","c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

### Dictionary comprehension 
### zip function

In [105]:
## Zip function a widely use in this function in coding of python....

In [118]:
student = ["abhishek","moshin","sanjeev"]
marks = [85 , 95 , 105]

In [119]:
for i in zip(student , marks):
    print(i)

('abhishek', 85)
('moshin', 95)
('sanjeev', 105)

In [121]:
## one more example of zip function
student = ["arun","ajay","vijay"]
marks = [80,85,95]
student_marks ={}

In [122]:
for student,marks  in zip(student , marks):
    student_marks[student]=marks

In [123]:
student_marks

{'arun': 80, 'ajay': 85, 'vijay': 95}

### That's all about understanding of dictionary....

### Question(8) Discuss the importance of dictionary keys being immutable and provide examples..?

#### Ans = Dictionary is a data structure that stores data as key value pair and keys are unique and immutable...
    Importance of dictionary keys..
    integer as a keys.
    boolean as a keys.
    float value as a keys.
    string as a keys..
    special character not as keys..

In [126]:
## integer value as keys
d = {3:"abcd"}

In [127]:
d

{3: 'abcd'}

In [129]:
## boolean value as key
d = {True:"abc"}

In [130]:
d

{True: 'abc'}

In [131]:
d[True]

'abc'

In [133]:
## float value as a keys..
d = {25.25:"abc"}

In [134]:
d

{25.25: 'abc'}

In [135]:
d[25.25]

'abc'

In [137]:
## if u want to special character.....

In [139]:
d = {@:"abc"}
## special character are not allowed as a keys values pair......

SyntaxError: invalid syntax (2664584323.py, line 1)

In [141]:
## If a list as a key...
d ={[1,2,3] : "abc"}
## not possible

TypeError: unhashable type: 'list'

In [143]:
## if a sets as a keys...
d = {{1,2,3}:"abc"}
## sets are also not possible as keys..

TypeError: unhashable type: 'set'

In [145]:
## if sets as value or keys...
d = {{"key":123} :"ajay"}
## because sets are also  not possible as value....

TypeError: unhashable type: 'dict'

In [146]:

## if a tuple as a keys...
d = {(1,2,3):"abc"}

In [149]:
d
## tuple is a possible for keys...

{(1, 2, 3): 'abc'}

In [150]:
### only strings and numbers can be used as keys of the dictionary....

In [153]:
### fromkeys() create a new dictionary with key from iterable and value set to value.
d.fromkeys((1,2,3),("a","b","c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [154]:
## important feature of dictionary zip function...
student = ("abhi","mohsin","sanjeev")
marks = (80,85,95)

In [155]:
for i in zip(student , marks):
    print(i)

('abhi', 80)
('mohsin', 85)
('sanjeev', 95)

#### That's all understanding of importance of dictionary...